body{
 padding: 0;
 margin: 0;
}
h1{
  text-align: center;
  margin-top: 25px;
}
h2,span {
  font-size: 11px;
  display: flex;
  justify-content: center;
}
span{
  margin-left: 3px;
}

.rounded-checkbox{
  border-radius: 50%;
}

.custom-checkbox {
  margin-right: 7px;
  width: 19px;
  height: 19px;
}

.custom-checkbox:checked {
  background-color: #2ecc71; 
  border: 1px solid #2ecc71; 
  
}

.rojo{
  color: red;
}


